@charset "UTF-8";


/*  Pesquisar TIPICAL DIVICE BREAKPOINTS

Pequenas Telas: ate 600px
Celular: 600px ate  768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: Acima de 1200px


Faca uma pesquiza para achar valores atualizados 
*/


/*   Aqui configurando para tablet   */
@media screen and (min-width: 768px) and (max-width: 992px){

    body {

        /* Mudando a cor do background quando for tamanho tabelet */
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {

        width: 90vw; /* Aqui va ficar na largura do tablet  */
        height: 280px;
    }

    /*  Abaixo para  mudar a posicao da imagem quando aumentar a tela d tamanho do tablet */
    section#login > div#imagem {

        float: left; /* Imagem a esquerda  */
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right; /* Formulario a direita */
        width: 70%;
    }
}

  /*  Para telas Grandes    */
@media screen and (min-width: 992px) {

    body {

        /* Mudando a cor do background quando for tamanho tabelet */
        background-image: linear-gradient(to top, #49a09d, black);
    }
     
    section#login {

        width: 950px; 
        height: 350px;
    }

    section#login > div#imagem {

        float: right; /* Imagem flutua a direita */
        width: 50%;
        height: 100%;
   
     }

     section#login > div#formulario {
        float: left; /* Formulario flutua a  esquerda */
        width: 50%;
    }

    div#formulario > h1 {

        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;

    }

    div#formulario > p {

        font-size: 1.2em;
        margin: 20px 0px;
    }

